<!DOCTYPE html>
<html>
<head>
<style>
body {
  
  background-color: rgb(156, 104, 114);
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;

  left: 50%;
  border-radius: 10px;
  border-width: 10px;
  border: none;
  background-color: #2d848a;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration-style: solid;
  
}
</style>
</head>
<body background="pic.jpg" >
 
  <button type="button" class="vertical-center" id="donate" style="height: 80px; width: 120px; "
   onClick="window.location.href='http://127.0.0.1:5000/details';">DONATE</button>

 <div>
   <p class= "font-weight-bold"><h1> Why donate??</h1></p>
   <p class="text-monospace"><h3>Experience More Pleasure</h3> 
    In research conducted by the National Institutes of Health, participants who chose to donate a portion of $100 they were provided enjoyed activated pleasure centers in the brain. Although this experiment was controlled and scientific, it did show that donating money simply makes you feel better, which is something we can all benefit from.
    
  <h3>  Help Others in Need</h3> 
    We don’t live in a perfect world, and there’s never going to be a perfect time to give—but there are always people out there in need of help. Whether interest rates are rising, the economy is in the doldrums, or even if you’re experiencing financial difficulties of your own, the reality is that when you donate your money, you help others who need it.</p>
 </div>
  
</body>
</html>
